@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Yeni Makale Ekle</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/Admin/Home/Index">Admin Paneli</a></li>
    <li class="breadcrumb-item"><a href="/Admin/Article/Index">Makaleler</a></li>
    <li class="breadcrumb-item active">Yeni Makale Ekle</li>
</ol>

<div class="col-12" ng-app="ArticleAddApp" ng-controller="ArticleAddController">

    <div class="form-group">
        <label>Makale Başlığını Giriniz:</label>
        <input class="form-control" ng-model="article.title" />
    </div>

    <div class="form-group">
        <label>Kategori Seçiniz:</label>
        <select class="form-control" ng-model="article.categoryId">
           <option ng-value="">Lütfen seçim yapınız</option>
            <option ng-repeat="category in CategoryList" ng-value={{category.id}}>{{category.title}}</option>
        </select>
        
    </div>

    <div class="form-group">
        <label>Makalenizi Giriniz:</label>
        <input class="form-control" ng-model="article.content" />
    </div>

    <div class="form-group">
        <a ng-click="ArticleAdd()" class="btn btn-primary">Kaydet</a>
    </div>


</div>

@section Scripts{
    <script src="~/Admin/pages/articleAdd.js"></script>
}